.nav {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  &__list {
    display: flex;
    gap: 31px;
    height: 44px;
    align-items: center;
  }
  &__dec {
    img {
      display: none;
    }
  }
}
@media (max-width: 571px) {
  .nav {
    &__wrapper{
      padding: 28px 0;
    }
    &__list {
      display: none;
    }
    &__dec {
      img {
        display: block;
      }
    }
  }
}
