.btn {
  width: 139px;
  height: 52px;
  padding: 13.5px 46px;
  font-size: 17px;
  letter-spacing: 0.20000000298023224px;
  color: white;
  border: 1px solid white;
  background: transparent;
}
.populyar-btn {
  width: 178px;
  height: 65px;
  padding: 10px 30px 10px 30px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.20000000298023224px;

}